div.contenedor {
    display: grid;
   /*  grid-template-columns: 200px 1fr;*/
    grid-template-areas: "A A A A" "B B B B" "C C C C" "D F G H" "J J J J" "K K K K" "J J J J";
  } 
  #titulo{
    grid-area: 1 / 2 / 1 / 3;
  }
  #divButton{
      grid-area: 2/2/2/2;
  }
  input{
        height: 50px; 
        width: 200px;  
  }

